//	monoSnippets.scss
//	Evadne Wu at Iridia Productions.

$slice: 9px;
$sliceRaw: 9;

$pack: 8 * $slice;
$packRaw: 8 * $sliceRaw;

$nib: 8px;
$nibRaw: 8;

$stub: 8 * $nib;
$stubRaw: 8 * $nibRaw;

$monoSnippetsDirectory: "lib.monoSnippets/" !default;










//	! 
//	!Box Model, Positioning & Geometry





	@mixin inlineBlock {
	
	//	Mozilla Firefox
		display: -moz-inline-stack;
		
	//	Nonquirkies
		display: inline-block;
	
	//	IE
		zoom: 1;
		*display: inline;
	
	}





	@mixin borderRadius ($radius: 4.5px, $radius2: $radius, $radius3: $radius, $radius4: $radius) {
		
		-webkit-border-top-left-radius: $radius;
		-webkit-border-top-right-radius: $radius2;
		-webkit-border-bottom-right-radius: $radius3;
		-webkit-border-bottom-left-radius: $radius4;
		
		-moz-border-radius: $radius $radius2 $radius3 $radius4;
		-o-border-radius: $radius $radius2 $radius3 $radius4;
		border-radius: $radius $radius2 $radius3 $radius4;
		-uu-border-radius: $radius $radius2 $radius3 $radius4;	
	
		behavior: url(lib.monoSnippets/lib.monoSnippets.hack.borderRadius.htc);
	
	}
	
	
	
	
	
	@mixin size ($width: 128px, $height: $width) {

		width: $width;
		height: $height;
	
	}
	
	
	
	
		
	@mixin width ($width: 144px, $minWidth: $width, $maxWidth: $width) {

		width: $width;
		min-width: $minWidth;
		max-width: $maxWidth;
	
	}
	
	
	
	
	
	@mixin height ($height: 144px, $minHeight: $height, $maxHeight: $height) {

		height: $height;
		min-height: $minHeight;
		max-height: $maxHeight;
	
	}




		
	@mixin fullInset ($topInset: 0, $rightInset: $topInset, $bottomInset: $topInset, $leftInset: $topInset) {

		display: block;
		position: absolute;

		top: $topInset;
		right: $rightInset;
		bottom: $bottomInset;
		left: $leftInset;
	
	}
	
	@mixin full ($inset: 0) {
	
		@include fullInset($inset, $inset, $inset, $inset);
	
	}
	
	
	
	
	
	@mixin margin ($topMargin: 0, $rightMargin: $topMargin, $bottomMargin: $topMargin, $leftMargin: $topMargin) {
	
		margin: $topMargin $rightMargin $bottomMargin $leftMargin;
	
	}
	
	
	
	
	
	@mixin pseudoBlock {
	
		content: "";
		display: block;
	
	}
	
	
	
	
	
	@mixin anchoredToEdgeWithContextWidth ($anchoringEdge: "right", $contextWidth: 960px) {
	
	//	Aligns the element within a 100%-width element to an imaginary left or right boundry.
	
		position: absolute;
		@include fullInset(auto);
		
		#{$anchoringEdge}: 50%;
		margin-#{$anchoringEdge}: -0.5 * $contextWidth;
	
	}















//	! 
//	!Text & Typography





	@mixin text ($fontSize: 14px, $lineHeight: 18px, $color: inherit, $important: no) {
	
		font-size: $fontSize;
		line-height: $lineHeight;
		color: $color;
		
		@if $important == important {
		
			font-size: $fontSize !important;
			line-height: $lineHeight !important;
			color: $color !important;
		
		} 
		
	}
	
	
	
	
	
	@mixin textDelimited {

		white-space: nowrap;
		overflow: hidden;	
		-o-text-overflow: ellipsis;
		ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		-moz-binding: url($monoSnippetsDirectory + 'lib.monoSnippets.hack.delimitText.firefoxBinding.xml#delimitText');
	
	}
	
	
	
	
	
	@mixin textShadow ($color: rgba(255, 255, 255, .5), $offsetX: 0px, $offsetY: 1px, $spread: 0px) {

		text-shadow: $color $offsetX $offsetY $spread;
	
	}

	@mixin textShadowEngraved ($color: rgba(255, 255, 255, .5)) {
	
		text-shadow: $color 0px 1px 0px;
	
	}

		@mixin textShadowEngraved2 {
		
			text-shadow: 	rgba(255, 255, 255, .2) 0px 1px 0px,
					rgba(0, 0, 0, .15) 0px -1px 0px;
		
		}
	
	
	
	
	
	@mixin textStroke ($color: transparent, $width: 1px) {

		-webkit-text-stroke: $width $color;
	
	}
	
	
	
	
	
	@mixin textPlaceholderColor ($color: rgba(0, 0, 0, .35)) {
		
		&::-webkit-input-placeholder {
		
			color: $color;
		
		}
	
	}
	
	
	
	
	
	@mixin textSelectionColor ($backgroundColor: rgba(0, 0, 0, .5), $highlightColor: white) {
	
		::selection, ::-moz-selection, ::-webkit-selection {
		
			background-color: $backgroundColor;
			color: $highlightColor;
		
		}
	
	}










//	! 
//	!Transitions & Animations





	@mixin transition ($duration: 1s, $timingFunction: linear) {
	
		-webkit-transition: all $duration $timingFunction;
		-moz-transition: all $duration $timingFunction;
		-o-transition: all $duration $timingFunction;
		transition: all $duration $timingFunction;
	
	}
	
		@mixin transition1 ($duration: 1s, $property1: all) {
		
			@include transition($duration);
			
			-webkit-transition-property: $property1;
			-moz-transition-property: $property1;
			-o-transition-property: $property1;
			transition-property: $property1;
		
		}
	
		@mixin transition2 ($duration: 1s, $property1: all, $property2: property1) {
		
			@include transition($duration);
			
			-webkit-transition-property: $property1, $property2;
			-moz-transition-property: $property1, $property2;
			-o-transition-property: $property1, $property2;
			transition-property: $property1, $property2;
		
		}
	
	
	
	
	
	@mixin animation ($name: name, $duration: 1s, $count: infinite, $timingFunction: none) {
	
		-webkit-animation-name: $name;
		-webkit-animation-duration: $duration;
		-webkit-animation-iteration-count: $count;
		-webkit-animation-timing-function: $timingFunction
	
	}










//	! 
//	!Backdrops, Borders and 9-Slices

	@mixin borderImage ($image: none, $borderTopWidth: 0, $borderRightWidth: $borderTopWidth, $borderBottomWidth: $borderTopWidth, $borderLeftWidth: $borderTopWidth, $borderScaling: round) {
	
		-o-border-image: $image $borderTopWidth $borderRightWidth $borderBottomWidth $borderLeftWidth $borderScaling $borderScaling;
		-icab-border-image: $image $borderTopWidth $borderRightWidth $borderBottomWidth $borderLeftWidth $borderScaling $borderScaling;
		-khtml-border-image: $image $borderTopWidth $borderRightWidth $borderBottomWidth $borderLeftWidth $borderScaling $borderScaling;
		-moz-border-image: $image $borderTopWidth $borderRightWidth $borderBottomWidth $borderLeftWidth $borderScaling $borderScaling;
		-webkit-border-image: $image $borderTopWidth $borderRightWidth $borderBottomWidth $borderLeftWidth $borderScaling $borderScaling;
	
		border-image: $image $borderTopWidth $borderRightWidth $borderBottomWidth $borderLeftWidth $borderScaling $borderScaling;
		
		border-top-width: 1px * $borderTopWidth;	
		border-right-width: 1px * $borderRightWidth;
		border-bottom-width: 1px * $borderBottomWidth;
		border-left-width: 1px * $borderLeftWidth;
		
	}
	
		@mixin threePartImage ($image: none, $borderLeftWidth: 0, $borderRightWidth: 0) {
		
			@include borderImage($image, 0, $borderRightWidth, 0, $borderLeftWidth, stretch);
			border-left-width: 1px * $borderLeftWidth;
			border-right-width: 1px * $borderRightWidth;
		
		}
		
		@mixin threePartImageVertical ($image: none, $borderTopWidth: 0, $borderBottomWidth: 0) {
		
			@include borderImage($image, 0, $borderTopWidth, 0, $borderBottomWidth, stretch);
			border-top-width: 1px * $borderTopWidth;
			border-bottom-width: 1px * $borderBottomWidth;
		
		}










//	! 
//	!Box Shadow Literals

	@mixin boxShadowWithLiteral ($literal01: "", $literal02: "", $literal03: "", $literal04: "", $literal05: "", $literal06: "", $literal07: "", $literal08: "", $literal09: "", $literal10: "", $literal11: "", $literal12: "") {
	
		$concatnatedString: $literal01;
		
		@if $literal02 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal02};	}
		@if $literal03 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal03};	}
		@if $literal04 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal04};	}
		@if $literal05 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal05};	}
		@if $literal06 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal06};	}	
		@if $literal07 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal07};	}	
		@if $literal08 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal08};	}
		@if $literal09 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal09};	}
		@if $literal10 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal10};	}
		@if $literal11 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal11};	}
		@if $literal12 != "" {	$concatnatedString: #{$concatnatedString}, #{$literal12};	}

		-webkit-box-shadow: $concatnatedString;
		-moz-box-shadow: $concatnatedString;
		-o-box-shadow: $concatnatedString;	
		box-shadow: $concatnatedString;
		-uu-box-shadow: $concatnatedString;
	
	}
	









//	! 
//	!Box Shadows

	@mixin boxShadow ($color: rgba(0, 0, 0, 1), $offsetX: 0px, $offsetY: 0px, $spread: 9px) {
	
		@include boxShadowWithLiteral(
			
			$offsetX $offsetY $spread $color
			
		);
	
	}
	
		@mixin boxShadowInner ($color: rgba(0, 0, 0, 1), $offsetX: 0px, $offsetY: 0px, $spread: 9px) {
	
			@include boxShadowWithLiteral(
			
				inset $offsetX $offsetY $spread $color
			
			);
		
		}
		
			@mixin boxShadowInnerEngraved ($shadowColor: rgba(0, 0, 0, 1), $shadowOffsetX: 0px, $shadowOffsetY: 0px, $shadowSpread: 9px, $colorTopEngrave: transparent, $colorBottomEngrave: transparent) {
		
		
				@include boxShadowWithLiteral(
				
					inset $shadowOffsetX $shadowOffsetY $shadowSpread $shadowColor, 
					0px -1px 0px $colorTopEngrave, 
					0px 1px 0px $colorBottomEngrave
				
				);
				
			}
	
		@mixin boxShadow2 ($color01: rgba(0, 0, 0, 1), $offsetX01: 0px, $offsetY01: 0px, $spread01: 9px, $color02: $color01, $offsetX02: $offsetX01, $offsetY02: $offsetY01, $spread02: $spread01) {
			
			@include boxShadowWithLiteral(
			
				$color01 $offsetX01 $offsetY01 $spread01, 
				$color02 $offsetX02 $offsetY02 $spread02
			
			);
		
		}
		
		@mixin boxShadow3 ($color01: rgba(0, 0, 0, 1), $offsetX01: 0px, $offsetY01: 0px, $spread01: 9px, $color02: $color01, $offsetX02: $offsetX01, $offsetY02: $offsetY01, $spread02: $spread01, $color03: $color01, $offsetX03: $offsetX01, $offsetY03: $offsetY01, $spread03: $spread01) {
		
			@include boxShadowWithLiteral(
			
				$color01 $offsetX01 $offsetY01 $spread01, 
				$color02 $offsetX02 $offsetY02 $spread02, 
				$color03 $offsetX03 $offsetY03 $spread03
			
			);
		
		}
	
	
	
	
	
	




	
	
	
	
	
//	! 
//	! Inset Borders & Faux Inset Borders

	@mixin borderInset ($side: "", $color: transparent, $width: 1px) {
	
		$prefix: "-";
	
		@if ($side == "") {
		
			$prefix: "";
		
		}
		
		margin#{$prefix}#{$side}: -1 * $width;
		border#{$prefix}#{$side}: $width solid $color;
	
	}
	
	@mixin borderInsetSolid ($color: transparent, $width: 1px) {
	
		@include boxShadowWithLiteral(
		
			inset 0px $width 0px $color, 
			inset 0px (-1 * $width) 0px $color, 
			inset $width 0px 0px $color, 
			inset (-1 * $width) 0px 0px $color
			
		);
	
	}
	
		@mixin borderInsetSolidShadowed ($borderColor: transparent, $borderWidth: 1px, $shadowColor: rgba(0, 0, 0, 1), $shadowOffsetX: 0px, $shadowOffsetY: 0px, $shadowSpread: 9px) {
	
			@include boxShadowWithLiteral(
			
				inset 0px $borderWidth 0px $borderColor,
				inset 0px (-1 * $borderWidth) 0px $borderColor,
				inset $borderWidth 0px 0px $borderColor,
				inset (-1 * $borderWidth) 0px 0px $borderColor,
				$shadowOffsetX $shadowOffsetY $shadowSpread $shadowColor
						
			);
		
		}
		
			@mixin borderInsetSolidShadowed2 ($borderColor: transparent, $borderWidth: 1px, $shadowColor01: rgba(0, 0, 0, 1), $shadowOffsetX01: 0px, $shadowOffsetY01: 0px, $shadowSpread01: 9px, $shadowInsetOrEmpty01: "", $shadowColor02: rgba(0, 0, 0, 1), $shadowOffsetX02: 0px, $shadowOffsetY02: 0px, $shadowSpread02: 9px, $shadowInsetOrEmpty02: "") {
	
				@include boxShadowWithLiteral(
				
					inset 0px $borderWidth 0px $borderColor, 
					inset 0px (-1 * $borderWidth) 0px $borderColor, 
					inset $borderWidth 0px 0px $borderColor, 
					inset (-1 * $borderWidth) 0px 0px $borderColor, 
					#{$shadowInsetOrEmpty01} $shadowOffsetX01 $shadowOffsetY01 $shadowSpread01 $shadowColor01, 
					#{$shadowInsetOrEmpty02} $shadowOffsetX02 $shadowOffsetY02 $shadowSpread02 $shadowColor02
					
				);
			
			}
	
		@mixin borderInsetSolid2 ($color01: transparent, $width01: 1px, $color02: transparent, $width02: 1px) {
		
			@include boxShadowWithLiteral(
			
				inset 0px $width01 0px $color01, 
				inset 0px (-1 * $width01) 0px $color01,
				inset $width01 0px 0px $color01,
				inset (-1 * $width01) 0px 0px $color01,
				inset 0px $width02 0px $color02,
				inset 0px (-1 * $width02) 0px $color02,
				inset $width02 0px 0px $color02,
				inset (-1 * $width02) 0px 0px $color02
				
			);
					
		}
		
			@mixin borderInsetSolid2Shadowed ($color01: transparent, $width01: 1px, $color02: transparent, $width02: 1px, $shadowColor01: rgba(0, 0, 0, 1), $shadowOffsetX01: 0px, $shadowOffsetY01: 0px, $shadowSpread01: 9px) {
			
				@include boxShadowWithLiteral(
				
					inset 0px $width01 0px $color01, 
					inset 0px (-1 * $width01) 0px $color01,
					inset $width01 0px 0px $color01,
					inset (-1 * $width01) 0px 0px $color01,
					inset 0px $width02 0px $color02,
					inset 0px (-1 * $width02) 0px $color02,
					inset $width02 0px 0px $color02,
					inset (-1 * $width02) 0px 0px $color02,
					$shadowOffsetX01 $shadowOffsetY01 $shadowSpread01 $shadowColor01
					
				);
						
			}
		
		@mixin borderInsetSolidEngraved ($color: transparent, $width: 1px, $colorTopEngrave: transparent, $colorBottomEngrave: transparent) {
	
			@include boxShadowWithLiteral(
			
				inset 0px $width 0px $color,
				inset 0px (-1 * $width) 0px $color,
				inset $width 0px 0px $color,
				inset (-1 * $width) 0px 0px $color,
				0px -1px 0px $colorTopEngrave,
				0px 1px 0px $colorBottomEngrave
					
			);
		
		}










//	! 
//	!Transformations





	@mixin transformRotate ($degrees: 0deg, $originX: 50%, $originY: 50%) {
	
		-webkit-transform: rotate($degrees);
		-webkit-transform-origin: $originX $originY;

		-moz-transform: rotate($degrees);
		-moz-transform-origin: $originX $originY;

		-o-transform: rotate($degrees);
		-o-transform-origin: $originX $originY;

		transform: rotate($degrees);
		transform-origin: $originX $originY;
	
	}






























//	! 
//	!Custom Browser UI

	@mixin uiScrollbar ($unitSize: 9px, $trackColor:rgba(0, 0, 0, .15), $thumbColor:rgba(0, 0, 0, .25), $hoverColor:rgba(0, 0, 0, .35)) {

		&::-webkit-scrollbar,
		&::-webkit-scrollbar-button:start:increment,
		&::-webkit-scrollbar-button:start:decrement,
		&::-webkit-scrollbar-button:end:increment,
		&::-webkit-scrollbar-button:end:decrement {
		
			width: $unitSize;
			height: $unitSize;
			display: none;
		
		}
		
		&::-webkit-scrollbar {
		
			display: block;
			    
		}
		
		&::-webkit-scrollbar-track {
		
			@include borderRadius(0.5 * $unitSize);
			background: rgba(0, 0, 0, 0);
			
			:disabled {
			
				display: none;
			
			}
		
		}
		
		&::-webkit-scrollbar-thumb {
		
			@include borderRadius(0.5 * $unitSize);
			background: rgba(0, 0, 0, .25);
			border: 1px inset rgba(0, 0, 0, .15);
			
			-webkit-transition: background-color 2.5s linear;
		
		}
		
		&:hover::-webkit-scrollbar-thumb {
		
			background: rgba(0, 0, 0, .35);
		
		}
		
		&::-webkit-scrollbar-thumb:hover {
		
			background: rgba(0, 0, 0, .55);
		
		}
	
	}
	









//	! 
//	! Overriding UA Behaviors





	@mixin uaDisableSelection {
	
		-webkit-user-select: none;
		-moz-user-select: none; 
		user-select: none; 
	
	}
	
	@mixin uaDisableTextZoom {
	
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		text-size-adjust: none;
	
	}




















//	! 
//	!Gradients and Glares





	@mixin gradientBackdrop ($fromColor: rgba(0, 0, 0, .1), $toColor: rgba(0, 0, 0, .5), $fromTop: 0%, $fromLeft: 0%, $toTop: 100%, $toLeft: 0%) {
	
		@if $fromColor == transparent {
		
			$fromColor: rgba(0, 0, 0, 0);
		
		}
		
		@if $toColor == transparent {
		
			$toColor: rgba(0, 0, 0, 0);
		
		}
	
		background-color: transparentize(
		
			(opacify($fromColor, 1) + opacify($toColor, 1)) / 2,
			(alpha($fromColor) + alpha($toColor)) / 2
			
		);
	
		background: -webkit-gradient(linear, $fromTop $fromLeft, $toTop $toLeft, color-stop(0, $fromColor), color-stop(1, $toColor));
		
		background: -moz-linear-gradient($fromTop $fromLeft, $fromColor, $toColor $toTop $toLeft);
	
	}
	
	
	
	
	
	@mixin gradientBackdropVertical ($fromColor: rgba(0, 0, 0, .1), $toColor: rgba(0, 0, 0, .5)) {
	
		background-color: transparentize(
		
			(opacify($fromColor, 1) + opacify($toColor, 1)) / 2,
			(alpha($fromColor) + alpha($toColor)) / 2
			
		);
	
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $fromColor), color-stop(1, $toColor));
		background: -moz-linear-gradient(top, $fromColor 0%, $toColor 100%);
	
	}
	
	
	
	
	
	@mixin gradientBackdropHorizontal ($fromColor: rgba(0, 0, 0, .1), $toColor: rgba(0, 0, 0, .5)) {
	
		background-color: ($fromColor + $toColor) / 2;
	
		background: -webkit-gradient(linear, left top, right top, color-stop(0, $fromColor), color-stop(1, $toColor));
		background: -moz-linear-gradient(left, $fromColor 0%, $toColor 100%);
	
	}





	@mixin glareSplitVertical ($height: 36px, $reversed: no, $colorTopEngrave: rgba(0, 0, 0, .2), $colorBottomEngrave: rgba(255, 255, 255, .45)) {
	
		@include pseudoBlock;
	
		height: 0px;
	
		margin-top: .5 * $height - 1;
		margin-bottom: .5 * $height - 1;
		
		border-top: 1px solid $colorTopEngrave;
		border-bottom: 1px solid $colorBottomEngrave;
		
		@if $reversed != no {
		
			border-top-color: $colorBottomEngrave;
			border-bottom-color: $colorTopEngrave;
		
		}
			
	}
	
	@mixin glareSplitHorizontal ($reversed: no, $width: 18px, $colorLeftEngrave: rgba(0, 0, 0, .2), $colorRightEngrave: rgba(255, 255, 255, .45)) {
	
		@include pseudoBlock;
		
		width: 0px;

		margin-left: .5 * $width - 1;
		margin-right: .5 * $width - 1;
		
		border-left: 1px solid $colorLeftEngrave;
		border-right: 1px solid $colorRightEngrave;
		
		@if $reversed != no {
		
			border-left-color: $colorRightEngrave;
			border-right-color: $colorLeftEngrave;
		
		}
			
	}
	
	
	
	
	
	@mixin shadowUp {
	
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0, 0)), color-stop(1, rgba(0,0,0, 1)));
		background: -moz-linear-gradient(center top, rgba(0,0,0, 0) 0%, rgba(0,0,0, 1) 100%);
	
	}
	
		@mixin shadowUpBlock($height: 4px) {
		
			@include pseudoBlock;

			position: relative;
			top: $height;
			margin-top: -1 * $height;
			
			height: $height;

			@include shadowUp;
			
			margin-left: 0px;
			margin-right: 0px;
			
			opacity: .35;

		}
	
	
	
	
	
	@mixin shadowRight {
	
		background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0, 1)), color-stop(1, rgba(0,0,0, 0)));
		background: -moz-linear-gradient(center left, rgba(0,0,0, 1) 0%, rgba(0,0,0, 0) 100%);
	
	}
	
		@mixin shadowRightBlock($width: 4px) {
		
			@include pseudoBlock;
			@include shadowRight;
			
			width: $width;
			
			margin-left: 0px;
			margin-right: 0px;
			
			opacity: .35;

		}
	
	
	
	
	
	@mixin shadowDown {
	
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0, 1)), color-stop(1, rgba(0,0,0, 0)));
		background: -moz-linear-gradient(center top, rgba(0,0,0, 1) 0%, rgba(0,0,0, 0) 100%);
	
	}
	
		@mixin shadowDownBlock($height: 4px) {
		
			@include pseudoBlock;
			@include shadowDown;
		
			position: relative;
			top: $height;
			margin-top: -1 * $height;
			
			height: $height;
			
			margin-left: 0px;
			margin-right: 0px;
			
			opacity: .35;

		}
	
	
	
	
	
	@mixin shadowLeft {
	
		background: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(0,0,0, 1)), color-stop(1, rgba(0,0,0, 0)));
		background: -moz-linear-gradient(center right, rgba(0,0,0, 1) 0%, rgba(0,0,0, 0) 100%);
	
	}
	
		@mixin shadowLeftBlock($width: 4px) {
		
			@include pseudoBlock;
			@include shadowLeft;
		
			width: $width;

			margin-left: 0px;
			margin-right: 0px;
			
			opacity: .35;

		}










//	! 
//	!Misc





	@mixin link {
		
		cursor: pointer;
	
	}
	
	
	
	
	
	@mixin triangle ($tipDirection: "top", $edgeLength: 8px, $blockSize: 16px, $color: black) {
	
		border: $edgeLength solid $color;
		border-color: transparent $color;
		
		border-#{$tipDirection}-width: 0;
		
		$ratio: 0.5;
		
		@if $tipDirection == "top" {
		
			border-right-width: $ratio * $edgeLength;
			border-left-width: $ratio * $edgeLength;
			
			margin: (0.5 * ($blockSize - $ratio * $edgeLength)) (0.5 * ($blockSize - $edgeLength));
		
		} @else if $tipDirection == "right" {
		
			border-top-width: $ratio * $edgeLength;
			border-bottom-width: $ratio * $edgeLength;
			
			margin: (0.5 * ($blockSize - $edgeLength)) (0.5 * ($blockSize - $ratio * $edgeLength));
		
		} @else if $tipDirection == "bottom" {
		
			border-right-width: $ratio * $edgeLength;
			border-left-width: $ratio * $edgeLength;
			
			margin: (0.5 * ($blockSize - $ratio * $edgeLength)) (0.5 * ($blockSize - $edgeLength));
		
		} @else if $tipDirection == "left" {
		
			border-top-width: $ratio * $edgeLength;
			border-bottom-width: $ratio * $edgeLength;
			
			margin: (0.5 * ($blockSize - $edgeLength)) (0.5 * ($blockSize - $ratio * $edgeLength));
		
		}
	
	//	Typography reset
		font-size: 0;
		line-height: 0;
	
	}









